/* Estilado general */
body{
    margin: 0px;
    background-color: #AC7D88;
    font-family: 'Dosis', sans-serif;
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;
}

main{
    margin: auto;
    width: 90%;
    max-width: 900px;
}

h1{
    font-size: 60px;
    color: #F8ECD1;
    text-shadow: 0px 0px 15px #85586F;
    text-align: center;
    padding: 40px 0 20px 0;
    text-decoration: underline;
}

h2{
    padding: 20px 10px;
    text-align: center;
    font-size: 40px;
    color: #F8ECD1;
    text-shadow: 0px 0px 15px #85586F;
    padding: 30px 5px;
}


/* Cambios del navbar de boostrap */
.navbar, .dropdown-menu{
    background: #F8ECD1;
    animation: animate__backInDown;
    animation-duration: 2s;
}

.navbar img{
    height: 70px;
}

.nav-link, .dropdown-item{
    transition: .3s;
    text-transform: uppercase;
    color: #85586F;
    font-weight: bold;
    padding-left: 15px;
}

.active{
    color: #F8ECD1 !important;
    background-color: #85586F !important;
    border-radius: 20px;
}

.nav-link:hover{
    color: #FF7171;
}

.dropdown-item:hover{
    background-color: rgba(0,0,0,0);
    color: #FF7171;
}


/* Estilado pagina inicial */
.inicio{
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 100%), url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.slider{
    text-align: center;
    padding-bottom: 100px;
}

.carousel{
    border: 5px solid #F8ECD1;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #85586F;
}

.control-slider{
    background-color: #000000;
    border-radius: 16px;
}


/* Estilado pag sobre nosotros */
.sobremi{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sobremi div{
    color: #F8ECD1;
    font-size: 22px;
    font-weight: lighter;
    padding: 20px;
}

.sobremi h2{
    text-align: left;
    padding: 10px 0;
}


/* Estilado pag contacto */
.conteiner-formulario{
    font-size: 24px;
    display: grid;
    grid-template-areas:
    "caja1 caja1 caja1"
    "caja2 caja2 caja3"
    "caja2 caja2 caja3" 
    ;
}

.contactame{
    color: #F8ECD1;
    grid-area: caja1;
}

.formulario form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    border: 1px solid #42032C;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: 0px;
    grid-area: caja2;
}

.formulario form textarea{
    width: 100%;
    min-height: 150px;
    max-height: 160px;
}

.formulario .btn-enviar{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: 0;
    background-color: #F8ECD1;
    color: #85586F;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
    border-radius: 24px;
}

.formulario .btn-enviar:hover{
    background-color: #85586F;
    color: #F8ECD1;
}


.datos{
    grid-area: caja3;
}

.datos ul{
    list-style-type: none;
    text-align: right;
}

.datos li{
    padding: 5px 0px;
}

.datos a{
    color: #F8ECD1;
    text-decoration: none;
    margin-bottom: 5px;
}

.datos i{
    margin-left: 10px;
}


/* Estilado de mi footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F8ECD1;
    color: #85586F;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}

footer img{
    height: 40px;
}

footer div a{
    text-decoration: none;
    color: #85586F;
}

footer div i{
    padding: 10px;
    transition: .3s;
}

footer div i:hover{
    color: #FF7171;
    border-radius: 10px;
}
