.conteiner-formulario{

    .formulario{
        
        form{

            .campo, textarea{
                @include box($font-size+5, bold, $border, $border-radius/2, #000000, $color4);
                @include size(100%, auto, 0 0 10px, 15px 10px);
            }

            textarea{
                height: 160px;
            }

            .btn-enviar{
                @include box($font-size*2, bold, none, $border-radius*3, $color1, $color4);
                @include size(150px, auto, 0, 10px)
            }

            .btn-enviar:hover{
                background-color: #85586F;
                color: #F8ECD1;
            }
        }
    } 
}