@import "variables";

body{
    margin: 0px;
    background-color: $color2;
    font-family: $font;
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;

    main{
        margin: auto;
        width: 90%;
        max-width: 900px;
    }

    h1{
        font-size: $font-size*6;
        color: $color4;
        text-shadow: $txtshdw;
        text-align: center;
        padding: 40px 0 20px 0;
        text-decoration: underline;
    }

    h2{
        padding: 20px 10px;
        text-align: center;
        font-size: 40px;
        color: $color4;
        text-shadow: $txtshdw;
        padding: 30px 5px;
    }
}

.inicio{
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 100%), url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
