// Grid de pag sobre nosotros


// Grid de pag contacto
.conteiner-formulario{
    display: grid;
    grid-template-areas: 
    "caja1 caja1 caja1"
    "caja2 caja2 caja3"
    "caja2 caja2 caja3"
    ;
    .contactame{
        grid-area: caja1;
    }
    .formulario{
        grid-area: caja2;
    }
    .datos{
        grid-area: caja3;
    }
}